body {
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 4mm;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 3mm;
}

@page {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  size: 105mm 148mm;
}
